@model List<Puesto>
@{
   ViewData["Title"] = "Lista de empleados";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <h5 class="card-header">Puestos</h5>
  <div class="card-body">
    <a asp-action="Guardar" asp-controller="Puesto" class="btn btn-success"><i class="bi bi-person-plus me-1"></i>Puestos de trabajo</a>
    <hr/>
    <table class="table table-responsive"> 
      <thead>
         <tr>
            <th>ID</th>
            <th class="text-center">Nombre del puesto</th>
            <th class="text-center">Departamento correspondiente</th>
            <th class="text-center">Descripcion</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
            <tr>
               <td class="text-center">@item.IdPuestoEmpleado</td>
               <td class="text-center">@item.NombrePuesto</td>
               <td class="text-center">
                  @{
                     var idDepartamento = item.IdDepartamento.ToString();
                     var departamento = ViewBag.Departamentos as List<SelectListItem>;
                     var DepartamentoItem = departamento.Find(p => p.Value == idDepartamento);
                     if (DepartamentoItem != null)
                     {
                           @DepartamentoItem.Text
                     }
                     else
                     {
                           <span>Sin Departamento asignado</span>
                     }
                  }
               </td>
               <td class="text-center">@item.Descripcion</td>
               <td class="text-center">
                  <a asp-action="Editar" asp-controller="Puesto" class="btn btn-primary btn-sm me-2 mb-2" asp-route-Id = "@item.IdPuestoEmpleado"><i class="bi bi-pencil me-1"></i>  Editar</a>
                  <a asp-action="Eliminar" asp-controller="Puesto" class="btn btn-danger btn-sm" asp-route-Id = "@item.IdPuestoEmpleado"><i class="bi bi-x-circle"></i> Eliminar</a>
               </td>
            </tr>
             
         }
      </tbody>
    </table>
    
  </div>
</div>